mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px lightgray, -5px 5px 5px lightgray;
}