mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    box-shadow: -5px 5px 5px grey, 5px 5px 5px lightgrey;
    background-color: white;
}