<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presupuestos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>ID: </ion-card-title>
      <ion-card-subtitle>NOMBRE PRESUPUESTO</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Tarifa: </strong></p>
      <p><strong>Descuento: </strong></p>
      <p><strong>Fibra: </strong></p>
      <p><strong>Streaming: </strong></p>
      <p><strong>Centralita: </strong></p>
      <p><strong>Pack Fútbol: </strong></p>
      <p><strong>Líneas Adicionales: </strong></p>
    </ion-card-content>

    <ion-button expand="block" style="margin: 15px;">Generar PDF</ion-button>
  </ion-card>
</ion-content>