<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presupuestos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ presupuesto?.nombre }}</ion-card-title>
      <ion-card-subtitle>TOTAL: </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Tarifa: {{ presupuesto?.tarifa?.nombre }} </strong></p>
      <p><strong>Descuento: {{ presupuesto?.descuento?.porciento }}</strong></p>
      <p><strong>Fibra: {{ presupuesto?.fibra?.nombre }}</strong></p>
      <p><strong>Streaming: {{ presupuesto?.streaming?.nombre }}</strong></p>
      <p><strong>Centralita: {{ presupuesto?.centralita?.nombre }}</strong></p>
      <p><strong>Pack Fútbol: {{ presupuesto?.packFutbol?.nombre }}</strong></p>
      <p><strong>Líneas Adicionales: </strong></p>
    </ion-card-content>

    <ion-button expand="block" style="margin: 15px;">Generar PDF</ion-button>
  </ion-card>
</ion-content>