.sidebar {
    -fx-padding: 20;
    -fx-background-color: -card-background;
}

Button,
.unselected {
    -fx-border-style: none;
    -fx-text-fill: -main-font-fill;
    -fx-padding: 15;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-pref-width: 170;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}

Button:hover,
.unselected:hover {
    -fx-background-color: -panel-background;
}

.selected {
    -fx-background-color: -panel-background;
}