* {
    -panel-background: rgb(24, 26, 34);
    -card-background: rgb(33, 35, 47);
    -selection-background: rgb(43, 45, 61);
    -header-fill: rgb(255, 255, 255);
    -main-font-fill: rgb(232, 232, 232);
    -light-font-fill: rgb(175, 175, 175);
    -btn-background: rgb(74, 95, 232);
    -btn-font-fill: rgb(249, 242, 252);
    -even-row-background: rgb(40, 42, 57);
}

.sidebar {
    -fx-padding: 20;
    -fx-background-color: -card-background;
}

Button {
    -fx-border-style: none;
    -fx-text-fill: -main-font-fill;
    -fx-padding: 15;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-pref-width: 170;
    -fx-alignment: center-left;
}

Button:hover {
    -fx-background-color: -panel-background;
}